<div class="row">
  <div class="card mt-2 shadow">
    <div class="card-body">
      <h4 class="card-title text-center">Edit task</h4>
      <%= render "form", task: @task %>
      <br>
      <div>
        <%= link_to "Show this task", project_task_path(project_id: @project.id, id: @task.id) %>
      </div>
    </div>
  </div>
</div>
