<p style="color: green"><%= notice %></p>

<%= render @task %>

<div>
  <%= link_to "Edit task", edit_project_task_path(project_id:@project.id, id: @task.id) %> |
   <%= link_to "Destroy task", [@task.project, @task], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
</div>
