<p style="color: green"><%= notice %></p>

<h1>Tasks</h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>
    <p>
      <%= link_to "Show this task", project_task_path(project_id: task.project.id, id: task.id) %>
    </p>
  <% end %>
</div>
